<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./nav %>
    <p id="pageTitle"><%= title %></p>
    <div>
      <% for(var i = 0; i < blogs.length; i++) { %>
				<h5><%= blogs[i].blog_title %></h5>
						<p><%= blogs[i].blog_text %></p>

						<a href="/blogedit/<%= blogs[i]._id %>"><i></i></a>
						<a href="/blogdelete/<%= blogs[i]._id %>"><i></i></a>
	 </div>
	 <br></br>
      <% } %> 
    </div>
  </body>
</html>       